<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.user.mapper.UserInfoMapper">

    <resultMap type="com.share.user.domain.UserInfo" id="UserInfoResult" autoMapping="true">
    </resultMap>

    <sql id="selectUserInfoVo">
        select id, wx_open_id, nickname, gender, avatar_url, phone, status, create_time, create_by, update_time, update_by, del_flag, remark from user_info
    </sql>

    <select id="selectUserInfoList" parameterType="com.share.user.domain.UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>
            <if test="wxOpenId != null  and wxOpenId != ''"> and wx_open_id = #{wxOpenId}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="avatarUrl != null  and avatarUrl != ''"> and avatar_url = #{avatarUrl}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        and del_flag = 0
        </where>
    </select>

</mapper>
